[Desktop Entry]
Name=AIMerge
GenericName=AIMerge
Comment=Access multiple Ai chatbots
Exec=aimerge
Terminal=false
Icon=com.soufrabi.aimerge
Type=Application
Keywords=aimerge;chatgpt;ai;
Categories=Qt;KDE
